<img src="{{
    volumeBookData.imageLinks
      ? volumeBookData.imageLinks.thumbnail
      : 'assets/images/image-not-found.png'
  }}" class="w-auto h-80 object-cover md:h-72 md:w-52 lg:m-0 my-4" />

<section class="flex flex-col w-12/12 lg:w-10/12 md:w-11/12 md:mx-7 text-[base-black]">
  <h1 class="text-[34px] font-extrabold leading-none">
    {{ volumeBookData.title | uppercase }}
  </h1>
  <h2 class="text-2xl font-bold">{{ volumeBookData.subtitle | uppercase }}</h2>

  <h1 *ngIf="volumeBookData.authors; else authorNotFound" class="text-4xl font-light my-6">
    {{ volumeBookData.authors[0] | uppercase }}
  </h1>
  <ng-template #authorNotFound>
    <h3>Autor não encontrado</h3>
  </ng-template>

  <div class="mb-7">
    <app-categories *ngIf="volumeBookData.categories" [categories]="volumeBookData.categories"></app-categories>
    <div *ngIf="volumeBookData.pageCount > 0" class="flex text-lg leading-tight">
      <label class="font-bold pr-2">PÁGINAS:</label>
      <p>{{ volumeBookData.pageCount }}</p>
    </div>
  </div>

  <app-description [bookDescription]="volumeBookData.description"></app-description>
</section>

<section class="flex my-10 self-start gap-5 md:flex-col">
  <app-icon-button (buttonEvent)="toggleFavoriteBook()" [buttonStatus]="btns_status.favorite"
    [buttonName]="'favorite'"></app-icon-button>
  <app-icon-button (buttonEvent)="toggleSavedBook()" [buttonStatus]="btns_status.saved"
    [buttonName]="'saved'"></app-icon-button>
  <app-icon-button (buttonEvent)="toggleFinishedBook()" [buttonStatus]="btns_status.finished"
    [buttonName]="'finished'"></app-icon-button>
</section>