<!-- <img class="mb-6 w-10/12 lg:w-[40rem] lg:h-[30rem] md:w-6/12 md:h-11/12" src="assets/images/coco-bambu2.png" /> -->
<a href="https://cocobambu.com/" target="_blank" rel="noopener noreferrer">
  <img class="mb-6 w-10/12 lg:w-[40rem] lg:h-[30rem] md:w-6/12 md:h-11/12" src="assets/images/coco-bambu2.png"
    alt="Coco Bambu" />
</a>

<h1
  class="text-5xl text-center uppercase font-londrina-solid tracking-normal md:tracking-[14.4px] md:text-7xl text-base-black">
  O que você <b class="font-londrina-sketch font-bold">quer ler</b> hoje ?
</h1>