@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Londrina+Sketch&family=Londrina+Solid:wght@100;300;400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inconsolata', monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p,
  span,
  label,
  button,
  ul,
  li,
  input {
    font-family: 'Inconsolata', monospace;
    color: #D4886A;
  }

  button {
    -webkit-tap-highlight-color: transparent;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #551800;
    -webkit-box-shadow: 0 0 0px 1000px #fdfffc inset;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}